In [3]:
210.0*(.4**4)*((1.0-.4)**6.0)

0.250822656

In [3]:
import math
(510-500)/(110/math.sqrt(900))

2.7272727272727275

In [5]:
(1-.9968)*2

0.006399999999999961

In [ ]:
.05

In [4]:
1.0*(.4**0)*((1.0-.4)**10.0)

0.006046617599999997

In [5]:
10.0*(.4**1)*((1.0-.4)**9.0)

0.04031078399999999

In [6]:
45.0*(.4**2)*((1.0-.4)**8.0)

0.12093235199999998

In [7]:
0.006046617599999997+0.04031078399999999+0.12093235199999998

0.16728975359999998

In [8]:
(505-450)/25

2.2

In [10]:
(100-.01390)/2

49.99305

In [11]:
(550-505)/25

1.8

In [12]:
(96.41/2)+49.99305

98.19805

In [14]:
(1-.9901)*100

0.990000000000002

In [15]:
100-69.15

30.849999999999994

In [33]:
import math

In [34]:
a=121.92
b=133.21
c=141.34
d=126.23
e=175.74

In [35]:
m = (a+b+c+d+e)/5

In [38]:
(math.sqrt((((a-m)**2.0)+((b-m)**2.0)+((c-m)**2.0)+((d-m)**2.0)+((e-m)**2.0))))/2

21.454952109012037

In [39]:
import pandas as pd

In [40]:
sam = pd.read_csv("Inferntial Statistics - UpGrad Samples.csv")

In [41]:
sam.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [43]:
mean = sam["Sample Mean"].sum()/len(sam["Sample Mean"])

In [44]:
sam["Variance"] = (sam["Sample Mean"]-mean)**2

In [47]:
math.sqrt(sam["Variance"].sum()/(len(sam["Sample Mean"])))

0.4248482081873478

In [51]:
math.sqrt((((0-.42)**2)*58+((1-.42)**2)*42)/99)

0.4960449637488582

In [55]:
(2.58*.2)/100

0.0051600000000000005

In [59]:
(1.65*100)/10

16.5

In [60]:
530+16.5

546.5

In [61]:
530-16.5

513.5

In [65]:
(1.96*0.496)/10

0.097216

In [68]:
42-9.72

32.28

In [69]:
42+9.72

51.72

In [71]:
flat = pd.read_csv("Inferential Statistics - Powai Flats Rent.csv")
flat.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [72]:
mean = flat["Monthly Rent"].sum()/len(flat["Monthly Rent"])
mean

45571.0

In [73]:
flat["Variance"] = (flat["Monthly Rent"]-mean)**2

In [74]:
sd = math.sqrt(flat["Variance"].sum()/(len(flat["Monthly Rent"])-1))

In [75]:
sd

7457.521851178448

In [77]:
x=(1.65*sd)/math.sqrt(200)

In [78]:
mean+x

46441.088604849494

In [79]:
mean-x

44700.911395150506

In [83]:
y=(1.96*sd)/math.sqrt(200)

In [84]:
mean+y

46604.55979727577

In [85]:
mean-y

44537.44020272423