In [2]:
import pandas as pd

In [4]:
loans = pd.read_csv("studentloan.csv")
loans

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN
...,...,...,...,...,...,...
9995,9996,19.79,20.19%,0.0079,NaN,NaN
9996,9997,18.33,38.38%,0.0068,NaN,NaN
9997,9998,10.83,28.40%,0.0037,NaN,NaN
9998,9999,24.29,37.37%,0.0056,NaN,NaN
9999,10000,0.03,22.55%,0.0032,NaN,NaN

In [8]:
loans["Recovery (%)"] = loans["Recovery (%)"].apply(lambda x: float(x.replace("%","")))

In [18]:
loans["loss"] =loans["Exposure at Default (in lakh Rs.)"] - ((loans["Recovery (%)"] * loans["Exposure at Default (in lakh Rs.)"])/100)

In [20]:
loans["Probable"] = loans["loss"] * loans["Probability of Default"]

In [25]:
loans["Probable"].sum()

493.39131440619997

In [31]:
(1/38)*3500 + (1-(1/38))*(-100)

-5.26315789473685